/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body */
body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1.6rem 0 1.3rem 5rem;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar__logo {
	height: 2rem;
}

/* Hero */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding: 5rem;
	padding-bottom: 3rem;
}

.hero__logo {
	margin-bottom: 5rem;
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.hero__title {
	font-size: 2rem;
	font-weight: 600;
}

.hero__description {
	font-weight: 300;
}

/* Cards */
.cards {
	overflow-x: auto; /* Enable horizontal scrolling */
	white-space: nowrap; /* Prevent cards from wrapping */
	display: flex;
	gap: 2rem;
	padding: 0 5rem; /* Adjust padding to prevent overflow */
	margin-bottom: 3rem;
}

.card {
	flex: 0 0 auto; /* Prevent cards from growing */
	display: inline-block; /* Display cards inline */
	vertical-align: top; /* Align cards to the top */
}

.card__image {
	border-radius: 0.5rem;
	width: 15rem;
	padding-bottom: 0.5rem;
}

.card__stats {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.3rem;
}

.gray {
	color: #918e9b;
}

.bold {
	font-weight: 600;
}

/* Media Query for Small Screens (up to 768px) */
@media (max-width: 768px) {
	.navbar {
		padding: 1rem 0 0.8rem 2rem;
	}

	.hero {
		padding: 2rem;
		padding-bottom: 1rem;
	}

	.hero__logo {
		margin-bottom: 3rem;
	}

	.cards {
		padding: 0 2rem;
		margin-bottom: 1.5rem;
	}
}
