/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body */
body {
	font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1.6rem 0 1.3rem 5rem;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar__logo {
	height: 2rem;
}

/* Hero */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding: 5rem;
}

.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5rem 0;
}

.hero__title {
	font-size: 2rem;
	font-weight: 600;
}

.hero__description {
	font-weight: 300;
}

/* Cards */

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 5rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
}

.card__image {
	border-radius: 0.5rem;
	width: 100%;
	padding-bottom: 0.5rem;
}

.card__stats {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.3rem;
}

.gray {
	color: #918e9b;
}

.bold {
	font-weight: 600;
}
